


.out {
    position: relative;
    z-index: 1;
    width: 120%;
}

.btn {
    border: 1px solid #3498db;
    background: none;
    padding: 10px 20px;
    font-size: 20px;
    font-family: "montserrat";
    cursor: pointer;
    margin: 10px;
    -webkit-transition: 0.8s;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
}

.home {
    color: #3498db;
}

.home:hover{
    color: #fff !important;
}

.btn::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #3498db;
    z-index: -1;
    -webkit-transition: 0.8s;
    transition: 0.8s;
}

.home::before{
    top: 0;
    border-radius: 0 0 50% 50%;
}


.home:hover::before{
    height: 180%;
}

