.mainbar {
  background-color: #22272b !important;
  display: flow-root;
  padding: 0 10%;
}

#check {
  display: none;
}



.logoheader {
  display: table;
  float: left;
  vertical-align: middle;
  padding: 0;
  color: #efbb20;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  width: 180px;
  height: 68px;
  position: relative;
  z-index: 9;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;

  a {
    color: #22272b;
    font-size: 33px;
    font-weight: 600;
    line-height: 70px;
    text-decoration: none;
  }
}

.logoheader:before {
  content: '';
  position: absolute;
  bottom: 0;
  height: 100%;
  z-index: -1;
  right: -50px;
  width: 80%;
  transform: skew(30deg);
  background-color: #ffe10a;

}

.logoheader:after {
  content: '';
  position: absolute;
  bottom: 0;
  height: 100%;
  z-index: -1;
  right: 10%;
  width: 2000px;
  background-color: #ffe10a;
}

ul {
  float: right;
  z-index: 10;
}

nav ul li,
.logg,
.loggg {
  display: inline-block;
  line-height: 70px;
  border-radius: 14px;
}

nav .loggg,
.logg {
  margin-left: 50px;
}

nav li.active a {
  color: #020101;
  background-color: #fddb0d;
  border-radius: 14px;
}

nav li a {
  padding: 15px 25px;
  border: 0;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  opacity: 1;
  text-decoration: none;
  transition: all 0.5s;
  border-radius: 14px;
}

nav li:hover a {
  color: #020101;
  background-color: #fddb0d;
  border-radius: 14px;
}

.checkbtn {
  float: right;
  width: 20px;
  height: 18px;
  position: relative;
  transform: rotate(0);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  top: 25px;
  display: none;

  span {
    background-color: #fff;
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    border-radius: 1px;
    opacity: 1;
    left: 0;
    transform: rotate(0);
    transition: 0.25s ease-in-out;
  }
}

.checkbtn span:nth-child(1) {
  top: 0;
}

.checkbtn span:nth-child(2) {
  top: 7px;
}

.checkbtn span:nth-child(3) {
  top: 14px;
}

@media (max-width: 1250px) {
  .mainbar {
    padding: 0 2%;
  }

  nav li a {
    padding: 15px 20px;
  }

}

@media (max-width: 992px) {
  .mainbar {
    padding: 0 10%;
  }

  .checkbtn {
    display: block;
    margin-right: 40px;
  }

  nav ul {
    position: fixed;
    width: 350px;
    height: 100vh;
    background: #22272b;
    top: 68px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }

  nav ul li,
  .loggg,
  .logg {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  .loggg,
  .logg {
    margin-left: 0;
  }

  #regularlogin {
    display: none;
  }

  #mobilelogin {
    display: block;
  }

}

@media (max-width: 560px) {
  nav ul {
    display: block;
    width: 100%;
  }

  #regularlogin {
    display: none;
  }

  .mobilelogin {
    display: block;
  }
}

.mobileStyle {
  left: 0;
}





.container {
  background: #B7BED8;
  color: #6A79A6;
  display: inline-block;
  padding: 0em 2em;
  margin: 6em auto;
  box-shadow: 0 50px 50px rgba(0, 0, 0, .2);

  .navigation {
    text-align: left;

    ol {
      list-style: none;
      background: #B7BED8;
      position: absolute;
      padding: 30px 0;
      width: 600px;
      z-index: 100;

      li {
        display: inline-block;
        margin-right: 27px;
        font-size: 0.7em;
        max-width: 20%;
        text-align: left;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        a {
          color: #fff;
          text-decoration: none;
          position: relative;
          z-index: 2;
          cursor: pointer;
          opacity: 0;

          &.done {
            opacity: 1;
          }
        }
      }

      margin-bottom: 30px;
    }
  }

  .sign_form {
    width: 600px;
    text-align: left;
    margin: 85px 0 0 0;

    #next-page {
      opacity: 0;
      width: 40px;
      height: 40px;
      display: inline-block;
      vertical-align: middle;
      margin-left: 20px;
      background: url("https://jdniki.github.io/signup/images/next-page.svg");
      background-size: contain;

      &:hover {
        background: url("https://jdniki.github.io/signup/images/next-pagehover.svg");
        background-size: contain;
      }
    }

    .questions {
      list-style: none;
      -webkit-transition: height 0.4s;
      transition: height 0.4s;
      width: 88%;
      display: inline-block;
      height: 80px;

      li {
        position: absolute;
        width: 500px;

        span {
          display: block;
          margin-bottom: 10px;
        }

        input {
          width: 100%;
          font-size: .9em;
          color: #f2f2f2;
          margin: 0.3em 0 1em 0;
          border: none;
          background: none;
          border-bottom: 3px solid #fff;
          padding: 0.5em 0.1em;
          transition: all 0.5s ease;

          &:focus {
            outline: none;
            border-bottom: 3px solid #6A79A6;
          }
        }

        &:not(:first-child) {
          opacity: 0;
          margin-top: 150px;
        }

        /*-------------Password ------------------*/
        #viewpswd {
          position: absolute;
          opacity: 0;
          //                    z-index:-100;
        }

        #show-pwd {
          margin: -2.75em 0em;
          width: 40px;
          height: 40px;
          position: absolute;
          right: 0;
          color: rgba(255, 255, 255, 0.4);
          cursor: pointer;

          &.view {
            background: url("https://jdniki.github.io/signup/images/view.svg");
            background-size: contain;
          }

          &.hide {
            background: url("https://jdniki.github.io/signup/images/hide.svg");
            background-size: contain;
          }
        }

        #show-pwd:active,
        #show-pwd:focus {
          background: url("https://jdniki.github.io/signup/images/hide.svg");
          background-size: contain;
        }

        select.country {
          position: absolute;
          width: 4.5em;
          font-size: 0.7em;
          color: #f2f2f2;
          height: 70px;
          background: transparent;
          border: 1px solid #ccc;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          border: none;
        }

        #phone {
          padding-left: 5em;
        }
      }
    }
  }

  .error_message {
    color: rgba(207, 0, 0, 0.56);
    font-size: 14px;
    margin-top: 10px;
    padding-bottom: 30px;
    background: #B7BED8;
  }
}

::-webkit-input-placeholder {
  font-size: 0.9em;
  color: rgba(255, 255, 255, 0.7);
}

:-moz-placeholder {
  /* Firefox 18- */
  font-size: 0.9em;
  color: rgba(255, 255, 255, 0.7);
}

::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 0.9em;
  color: rgba(255, 255, 255, 0.7);
}

:-ms-input-placeholder {
  font-size: 0.9em;
  color: rgba(255, 255, 255, 0.7);
}

@-webkit-keyframes moveUpFromDown {
  from {
    -webkit-transform: translateY(100%);
  }

  to {
    -webkit-transform: translateY(0);
  }
}

@keyframes moveUpFromDown {
  from {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }

  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.center {
  display: flex;
}



.modal {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 1;

}



.login {
  overflow: hidden;
  background: #f1f1f1;
  padding: 40px 30px 30px 30px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: -webkit-transform 300ms, box-shadow 300ms;
  -moz-transition: -moz-transform 300ms, box-shadow 300ms;
  transition: transform 300ms, box-shadow 300ms;
  box-shadow: 5px 10px 10px rgba(2, 128, 144, 0.2);

  h1 {
    margin-bottom: 30px;
  }

  i {
    position: absolute;
    right: 10%;
    cursor: pointer;
  }
}

.login::before,
.login::after {
  content: "";
  position: absolute;
  width: 600px;
  height: 600px;
  border-top-left-radius: 40%;
  border-top-right-radius: 45%;
  border-bottom-left-radius: 35%;
  border-bottom-right-radius: 40%;
  z-index: -1;
}

.login::before {
  left: 40%;
  bottom: -130%;
  background-color: rgba(69, 105, 144, 0.15);
  -webkit-animation: wawes 6s infinite linear;
  -moz-animation: wawes 6s infinite linear;
  animation: wawes 6s infinite linear;
}

.login::after {
  left: 35%;
  bottom: -125%;
  background-color: rgba(2, 128, 144, 0.2);
  -webkit-animation: wawes 7s infinite;
  -moz-animation: wawes 7s infinite;
  animation: wawes 7s infinite;
}

::placeholder {
  color: #2a78b8;
  opacity: 1;
}

.login>input {
  font-family: "Asap", sans-serif;
  display: block;
  border-radius: 5px;
  font-size: 16px;
  background: white;
  color: #2a78b8;
  width: 100%;
  border: 0;
  padding: 10px 10px;
  margin: 15px -10px;
}

.login>button {
  font-family: "Asap", sans-serif;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  width: 80px;
  border: 0;
  padding: 10px 0;
  margin-top: 10px;
  margin-left: -5px;
  border-radius: 5px;
  background-color: #f45b69;
  -webkit-transition: background-color 300ms;
  -moz-transition: background-color 300ms;
  transition: background-color 300ms;
}

.login>button:hover {
  background-color: #f24353;
}

@-webkit-keyframes wawes {
  from {
    -webkit-transform: rotate(0);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes wawes {
  from {
    -moz-transform: rotate(0);
  }

  to {
    -moz-transform: rotate(360deg);
  }
}

@keyframes wawes {
  from {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }

  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.dropDown {
  position: relative;
}

.dropMenu {
  position: absolute;
  background-color: #f9f9f968;
  text-align: center;
  width: 200px;
  left: -50px;
  opacity: 0;
  pointer-events: none;
  // display: none;
  // min-width: 158px;
  transition: transform 1s ease-in-out;
  z-index: 1;

  a {
    font-weight: 500;
    font-size: 1rem;
    text-decoration: none;

  }

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
}

.dropDown {
  i:hover .dropMenu {
    // display: block;
    pointer-events: all;
    opacity: 1;
    transform: translateX(-50%);
  }
}

.dropMenu:hover {
  opacity: 1;
}

.logg {
  .textStyle {
    text-decoration: none;
  }
}
.hamOpen {
  .ham1 {
    transform: translate(0,320%) rotate(45deg);
  }
  .ham2 {
    transform: rotate(137deg);
  }
}
